#alert {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#main {
    text-align: center;
    width: 70%;
    border: 1px gray solid;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

#quiz_message {
    color: black;
    font-size: 20px;
    font-weight: bolder;
}

#header {
    border: 2px solid black;
    padding: 5px;
    height: 250px;
    line-height: 200px;
}

.option {
    border: 2px solid black;
    width: 400px;
    height: 200px;
    margin: 1px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 5px;
    text-align: center;
    display: inline-block;
    line-height: 150px;
    vertical-align: middle;
    color: black;
    font-size: 20px;
    font-weight: bolder;
}

.a,
.b,
.c,
.d {
    background-color: lightblue;
}

label {
    width: 150px;
    display: inline-block;
}

#to_map {
    border-radius: 25px;
    padding: 9px 20px;
    background-color: white;
    border: 1px solid black;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
    width: 200px;
}

#quiz_submit {
    display: block;
    margin-top: 20px;
    border: 2px solid black;
    width: 100px;
    text-align: center;
    transform: translate(350px, 0px);
    border-radius: 25px;
    padding: 9px 20px;
    background-color: white;
    border: 1px solid black;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
    width: 100px;
    margin-bottom: 5px;
}

.location {
    font-weight: bolder;
    font-size: 20px;
}

.question {
    color: black;
    font-size: 20px;
    font-weight: bolder;
}

#deleteQuizButton {
    border: solid black 2px;
    padding: 5px;
    text-align: center;
}