body {
    background-image: url(sky.jpg);
    font-family: 'Open Sans Condensed', sans-serif;
}

#title {
    font-family: 'Cinzel', serif;
}

h4 {
    display: inline;
    font-size: 25px;
}

#nav_bar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
}

#title {
    text-align: left;
    padding: 10px;
    margin-bottom: 0px;
}

#slogan {
    padding: 10px;
    font-style: italic;
}

#right_align {
    left: 80%;
    position: relative;
    transform: translate(0px, -80px);
}

.profile_button {
    border: solid black 2px;
    padding: 5px;
    width: 125px;
    text-align: center;
    margin-bottom: 20px;
}

#search {
    width: 200px;
}

#content {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
}

.quiz_link {
    float: left;
    width: 25%;
    margin-top: 200px;
    background-color: black;
    padding-top: 70px;
    opacity: 50%;
    height: 100px;
    margin-left: 340px;
    margin-right: 50px;
    color: antiquewhite;
}

a>content {
    color: antiquewhite;
}

a>#profile_button {
    color: black;
}

.map {
    float: left;
    width: 25%;
    margin-top: 200px;
    padding-top: 70px;
    opacity: 50%;
    background-color: black;
    height: 100px;
    color: antiquewhite;
}